
img {
  margin-left: 0 !important;

}

.tile-viewport {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.gallery_container_container {
	background-color: #6E8898;
	height: 650px;	
	margin-top: 159px;
}
.gallery_info{
	padding-top: 35px;
}
.gallery_container {
	max-width: 1000px; 
	margin: 0 auto;
	background-color: #6E8898;

}

.gallery_title {

	background-color: #D3D0CB;
	padding-left: 20%;
	background: rgba(211, 208, 203, 0.8);
	margin-bottom: -160px;
    margin-top: 135px;

}

.gallery {

	display: inline-block;
	color: #EBE9E7;
	padding-bottom: -20px;
	margin: auto;
	background-color: #6E8898;
	padding-left: 40px;  
	padding-right: 40px;
	transform: skew(40deg,0deg);
}

h2 {
	transform: skew(-40deg,0deg);	
}

