header {
	background-color: #2E5266;
	height: 50px;
	opacity: 0.98;
	margin-top: -10px;
	width: 100%;
}

.header_container{
	max-width: 1000px;
	margin: 0 auto;
	
}

.banner_fullscreen {
	color: #D3D0CB;
	margin-top: 1%;
}

.banner_mobile {
	display: none;
}

/*.results, .results_static, .banner{
  display: flex;
}*/

@media (max-width: 1000px) { 
  .banner_fullscreen {
    display: none;
  }
  .banner_mobile {
  	display: block;
  	color: #D3D0CB;
	margin-top: 1%;
  }

}