header {
	background-color: black;
	height: 50px;
	opacity: 0.9;
}

.header_container{
	max-width: 1000px;
	margin: 0 auto;
}

header ul {
	max-width: 1000px;
    list-style-type: none;
}

header li {
	display: inline-block;
	padding: 0px 10px 10px 10px;
}

header a  {
	color: white;
	text-decoration: none;
}

header .fa:hover {
    color: yellow;
}

header h1 {
	color: white;
	margin-top: 1%;
	padding-right: 10em;
}
