.museum_container_container {
	background-color: #6E8898;
	height: 650px;	
	margin-top: 160px;
}

.museum_container {
	max-width: 1000px; 
	margin: 0 auto;
	background-color: #6E8898;
}

.museum_title {

	background-color: #D3D0CB;
	padding-left: 20%;
	background: rgba(211, 208, 203, 0.8);
	margin-bottom: -160px;
    margin-top: 135px;



}

.museum {

	display: inline-block;
	color: #EBE9E7;
	padding-bottom: -20px;
	margin: auto;
	background-color: #6E8898;
	padding-left: 4%;
	padding-right: 4%;
	transform: skew(40deg,0deg);
}

h2 {
	transform: skew(-40deg,0deg);	


}

.museum_info {
	padding-left: 8px;
	padding-right: 8px;
}

.museum_first_line {
	padding-top: 35px;
}



