nav {
	background-color: #2E5266;
	height: 40px;
	opacity: 0.9;
}

ul {
	max-width: 1000px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

nav li {
	display: inline-block;
	float: right;
	padding: 12px 10px 10px 10px;

}

nav a {
	color: #D3D0CB;
	text-decoration: none;
}

nav a:hover {
/*    opacity: 0.8;*/
    color: #E2C044;
}

/*.results, .results_static, .banner{
  display: flex;
}

@media (max-width: 379px) { 
  .results, .frame_post_container {
    flex-direction: column;
    margin-top: 256px;
  }

}*/
