/*button { border:none; } */
.rocks {
	background-color: #2E5266;
	opacity: 0.85;
	display: inline-block;
/*	border: 2px none #E2C044;*/
	padding: 20px 10px 10px 10px ;
	margin: 20px 10px 10px 10px ;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.button_container {
	text-align: center;
} 

.add_input {
/*	padding: 20px 10px 10px 10px ;*/
	margin: 17.35px 34px 10px 34px;
}

.edit_button {
	margin-left: 10px;
	padding-left: 17px;
	padding-right: 17px;
}


.inv_container_container {
	background-color: #6E8898;
	height: 500px;	

}

.inv_container {
	max-width: 1000px; 
	margin: 0 auto;
	background-color: #6E8898;
/*	height: 500px;*/

}

.inv_title {

	background-color: #D3D0CB;
	padding-left: 20%;


}

.inv {

	display: inline-block;
	color: white;
	padding-bottom: -20px;
	margin: auto;
	background-color: #6E8898;
	padding-left: 4%;
	padding-right: 4%;
	transform: skew(40deg,0deg);
}


h2 {
	transform: skew(-40deg,0deg);	
}

p {
	color: #D3D0CB;
}
/*p:before {
    content:"• ";

}*/
