.header_pic {
	display: flex;
	z-index: -1;
	margin-top: -114px;
	max-height: 100%;
/*	max-width: 100%;*/
	min-height: 114px;
}

/*@media (min-width: 673px) and (max-width: 705px) { 
.header_pic {
	margin-top: -114px;
	max-height: 100%;
	max-width: 100%;
}
}*/

/*@media (max-width: 669px) and (min-width: 500px) { 
img {
	margin-top: -114px;
}
}*/

