.ta_widget, .map_widget {
	display: inline-block;
}

.widget_container {
	max-width: 1000px; 
	margin: auto;
/*	background-color: black;*/
	height: 500px;

}

/*.widget_titles {
	background-color: tan;

}*/

.reviews, .location {
	display: inline-block;
	color: black;
	padding-bottom: -20px;
	margin: auto;
/*	background-color: black;*/
	padding-left: 3%;
	padding-right: 3%;

}

.reviews {
	margin-left: 13.5%;
	margin-right: 27%;

}

.ta_widget_container, .map_widget {
	display: inline-block;

}

.ta_widget_container {
	margin-left: 9.5%;
	margin-right: 6%;


}

.map_widget {
	

}