@media (min-width: 800px) {
  .ta_widget_container_mobile {
  display: none;
}
  .ta_widget_container_desktop, .map_widget {
  display: inline-block;

}
}

@media(max-width: 875px) {
  .ta_widget_container_desktop {
  	display: none;
  }
}



.widget_container_container {
	background-color: #6E8898;
	height: 650px;	
	margin-top: 160px;
/*	opacity: .9;*/

}

.widget_container {

	max-width: 1000px; 
	margin: 0 auto;
	background-color: #6E8898;
/*	height: 500px;*/

}

.widget_titles {

	background-color: #D3D0CB;

	padding-left: 20%;
	background: rgba(211, 208, 203, 0.8);
	margin-bottom: -160px;
    margin-top: 135px;
/*	display: none;*/


}

.location {
	display: inline-block;
	color: white;
	padding-bottom: -20px;
/*	margin: auto;*/
	background-color: #6E8898;
	padding-left: 44px;
	padding-right: 44px;
/*	padding-left: 3%;
	padding-right: 3%;*/
	transform: skew(40deg,0deg);

}

h2 {
	transform: skew(-40deg,0deg);	

}

/*.reviews {

	margin-left: 13.5%;
	margin-right: 20%;

}*/

 .map_widget_container {
	display: inline-block;
	margin-top: 35px;
}

.ta_widget_container_desktop {
	margin-top: 10px;
	margin-left: 9.5%;
	margin-right: 6%;


}

