* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.no_overflow {
    overflow-x: hidden;
}

html {
	background-image: url("https://source.unsplash.com/4psNpOezGzQ/1920x450");
	background-repeat: no-repeat;
}

h1, h2, h3, p, a, button, input, label {
	font-family: 'Roboto', sans-serif;
}

.default_form  {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    color: #888;
    border:1px solid #E4E4E4;
}

.default_form h1>span {
    display: block;
    font-size: 11px;
}
.default_form label {
    display: block;
    margin: 0px;
}
.default_form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.add_input, input[type="text"], .default_form input[type="password"], .default_form input[type="email"], .default_form textarea {
    border: 1px solid #DADADA;
    color: #2E5266;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.default_form textarea{
    padding: 5px 3px 3px 5px;
}

.default_form textarea{
    height:100px;
}

 input[type="submit"] {
    background: #D3D0CB;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #2E5266;
    border-radius: 3px;
    cursor: pointer;
}

 button {
    background: #D3D0CB;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #2E5266;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background: #E2C044;
}

input[type="submit"]:hover {
    background: #E2C044;
}

 p {
    color: #EBE9E7;
 }


